:root {
  --nav-bg: 243, 244, 246;
  --color-text-blue: 13, 110, 253;
  --color-box-shadow: 121, 118, 118, 0.1215686275 !important;
  --color-sf-primary: 19, 62, 135;
  --color-sf-secondary: 37, 37, 37;
  --color-sf-white: 255, 255, 255;
  --color-sf-outline: 0, 0, 0, 0.23;
  --color-sf-outline-variant: 196, 199, 197;
}